/* small css reset */

* {
    margin: 0;
    padding: 0;
}

*, *::befor, *::after {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin: 2em auto;
}

form input, form button {
    padding: 0.5rem;
}

table {
    background-color: blanchedalmond;
    border: 1px solid black;
    margin: 2em auto;
}

table th, table td {
    border: 1px solid black;
    padding: 0.5rem;
}

.cell img {
    width: 90px;
}
